
# Gradle
.gradle/
build/
app/build/
!gradle/wrapper/gradle-wrapper.jar

# Android
.idea/
*.iml
local.properties
.DS_Store

# NDK
app/src/main/obj/
# app/src/main/libs/  <-- We might want libs if they are prebuilt, but usually libs is output.
# Let's keep obj ignored but allow .a and .so if they are source files (like in jni/curl)


# Build intermediates
app/build/intermediates/
app/build/generated/
app/build/outputs/
app/build/tmp/
